<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="icon" type='image/png' href="{%static 'pinterest/img/pinterest_logo.png'%}">
    <link rel="stylesheet" href="{% static 'pinterest/css/style.css' %}">
    <title>Pinterest</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{%url 'pinterest:pin_index'%}"><img class='mainpage-logo' src="{%static 'pinterest/img/pinterest_logo.png'%}" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{%url 'pinterest:pin_index'%}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Explore</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'pinterest:user_show'%}">{{request.session.username}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row pin-row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <h5 class='user-name'>{{another_user.name}}'s Boards</h5>
                    </div>
                </div>
                <div class="row">
                {% for board in another_user_boards %}
                    <div class="col-sm-4">
                        <div class="board-wrapper">
                            <div class="card board-card">
                                <div class="card-body">
                                    <p id='board-title' class=' board-text'>{{board.title}}</p>
                                    {%for key, value in num_pin.items%}
                                    {% if key == board.id%}
                                    <p class='board-text'>{{value}} pins saved</p>
                                    {% endif %}
                                    {% endfor %}
                                    <a href="{%url 'pinterest:edit_board' id=board.id%}" class="another-board board-text btn btn-danger board-link">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="{%static 'pinterest/js/pin.js'%}"></script>
</body>

</html>


            