<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {%load static%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="icon" type='image/png' href="{%static 'pinterest/img/pinterest_logo.png'%}">
    <link rel="stylesheet" href="{% static 'pinterest/css/style.css' %}">
    <title>Hi, {{request.session.username}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{%url 'pinterest:pin_index'%}"><img class='mainpage-logo' src="{%static 'pinterest/img/pinterest_logo.png'%}" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% comment %} <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </form> {% endcomment %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{%url 'pinterest:pin_index'%}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Explore</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'pinterest:user_show'%}">{{request.session.username}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <a class='btn btn-default' href="{%url 'pinterest:logout'%}">Log out</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <h1 class='username'>{{show_user.name}}</h1>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class='follow-number'>{{follower}}</p>
                                <p class='follow-label'>Followers</p>
                            </div>
                            <div class="col-sm-6">
                                <p class='follow-number'>{{following}}</p>
                                <p class='follow-label'>Followings</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if followed %}
                                <a href="{%url 'pinterest:unfollow' id=show_user.id%}" class='create-link'>Unfollow {{show_user.name}}</a>
                                {% else %}
                                <a href="{%url 'pinterest:follow' id=show_user.id%}"class='create-link'>Follow {{show_user.name}}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7"></div>
                </div>
                <div class="user-content-btn-row row">
                    <div class="col-sm-6">
                        <a href="{%url 'pinterest:show_another_user_pins' id=show_user.id%}" class='create-link' id='showPin'>{{show_user.name}}'s Pin</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{%url 'pinterest:show_another_user_boards' id=show_user.id%}" class='create-link' id='showBoard'>{{show_user.name}}'s Board</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    {% comment %} <script src="{%static 'pinterest/js/user_show.js'%}"></script> {% endcomment %}
</body>

</html>