@media only screen and (max-width: 768px) {
    
}
@media only screen and (min-width: 769px) {
    
}
@media only screen and (min-width: 992px) {
    
}
@media only screen and (min-width: 1200px) {
    .profile-card2 .col-sm-3 { padding-top : 2%;}
    #last-pic { padding-top : 0%;}
    #last-pic img{ 
        margin-top : 0%;
        margin-bottom: 10%;
    }

}